<!DOCTYPE html>
<html lang="en">

<head>
    {% load static %}
    <!-- Required meta tags -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- JS -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
            integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
            crossorigin="anonymous"></script>
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
            integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
            crossorigin="anonymous"></script>

    <!-- CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Lobster" rel="stylesheet">
    <link href="{% static "css/home.css" %}" rel="stylesheet">

    {% block head %}{% endblock %}

    <title>{% block title %}{% endblock %}</title>
</head>

<body>

<div class="header">
    <h1>Оцените видео</h1>
{#    {% if request.user.is_authenticated %}#}
{#        <div class="username">Вы зашли как: {{ request.user.username }}</div>#}
{##}
{#    {% endif %}#}
</div>

{% if request.user.is_authenticated %}
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link {% if request.path == '/' %}active{% endif %}" href="{% url 'home' %}">Домашняя страница </a>
      </li>
        <li class="nav-item">
        <a class="nav-link {% if request.path == '/contact' %}active{% endif %}" href="{% url 'contact' %}">Обратная связь </a>
      </li>
    </ul>
    <form class="form-inline my-2 my-lg-0">
        <div class="logout"><a href="{% url 'logout' %}">Выйти</a></div>
    </form>
  </div>
</nav>
{#    <nav class="navbar navbar-default">#}
{#    <div class="container-fluid">#}
{#        <div class="navbar-header">#}
{#            <a class="navbar-brand" href="#">Оценить видео</a>#}
{#        </div>#}
{#        <ul class="nav navbar-nav">#}
{#            <li class="active"><a href="{% url 'home' %}">Домашняя страница</a></li>#}
{#            <li><a href="{% url 'contact' %}">Обратная связь</a></li>#}
{#            <li class="logout"><a href="{% url 'logout' %}">Выйти</a></li>#}
{#        </ul>#}
{#    </div>#}
{#    </nav>#}
{% endif %}

{% block content %}{% endblock %}

<div class="footer"></div>

{% block footer %}{% endblock %}

</body>
</html>