{% extends 'base.html' %}
{% load static %}

{% block title %}
    Главная
{% endblock %}

{% block head %}
    <script type="text/javascript" src="{% static 'js/header_scripts.js' %}"></script>
{% endblock %}

{% block content %}
    <div id="mainMenuBarAnchor"></div>
    <div class="card" id="mainMenuBar">
        <div class="topics">Выберите предмет:
            {% if subject_list %}
                <select id="select_subject">
                    {% for subject in subject_list %}
                        <option id='{{ subject.idsubject }}' value="{{ subject.idsubject }}">{{ subject.name }}</option>
                    {% endfor %}
                </select>
            {% endif %}
        </div>
        <div class="topics">Выберите раздел:
            <select id="select_topic">
                <option value="">---</option>
            </select>
        </div>
        <div class="topics">Выберите тему:
            <select id="select_subtopic">
                <option value="">---</option>
            </select>
        </div>
    </div>

    <div class="content" id="videos_column"></div>

    <input type="hidden" id="current-video-id">
{% endblock %}

{% block footer %}
    {% include 'survey_modal.html' %}
    <script type="text/javascript" src="{% static 'js/footer_scripts.js' %}"></script>
{% endblock %}