/* header*/
.header {
    background-color: #E1E1E1;
    text-align: center;
    padding: 20px;
    font-family: 'Lobster', serif;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.login {
    text-align: right;
}

/* navigation bar */
.navbar {

}

/* themes */
.topics {
    padding: 5px;
}

.card {
    /* Add shadows to create the "card" effect */
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
    margin: 20px;
    padding: 20px;
    background: #FAFAFA;
}

iframe {
    margin-left: auto;
    margin-right: auto;
}

button {
    margin-top: 20px;
    transition: 0.3s;

}

#mainMenuBar {
    width: 100%;
    margin-top: 0 !important;
    margin-left: auto !important;
    margin-right: auto !important;
}

.stick {
    position: fixed;
    top: 0;
    z-index: 20;
}

/* On mouse-over, add a deeper shadow */
.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.content {
    margin: auto;
    padding: 10px;
    width: 620px;
}

/*.content:after {*/
/*content:"";*/
/*display: table;*/
/*clear: both;*/
/*}*/

.finder {
    background-color: #FFFFFF;
}

.find {
    text-align: center;
    padding-left: 1%;
    padding-top: 1%;
}

/* footer */
.footer {
    background-color: #F1F1F1;
    text-align: center;
    padding: 10px;
}